<h1>
<% if @search%>
    Bottles by <%= @search[:attr].drop_type%>: <%=@search[:specific_attr]%>
<% else%>
    Bottles:
<% end%>
</h1>
<br>
<% @bottles.each do |bottle|%>
    <strong>Brand: </strong><%= bottle.brand %> <br>
    <strong>Type: </strong><%= bottle.wine_type %> <br>
    <strong>Color: </strong><%= bottle.color %> <br>
    <strong>Year: </strong><%= bottle.year %> <br>
    <%= link_to "This bottle", bottle %> <br>
    <br>
<% end %>