<h1>New User!</h1>
<%= form_for @user do |f|%>
    <%= f.label :username, value: "Username: ", class: "log" %>
    <%= f.text_field :username, class: "log" %>
    <br>
    <%= f.label :password, value: "Password: ", class: "log" %>
    <%= f.text_field :password, class: "log" %>
    <br>
    <%= f.label :hint, value: "Password Hint: ", class: "log" %>
    <%= f.text_field :hint, class: "log" %>
    <br>
    <div class="age_check">
        <label for="twenty_one">Are you 21 or older?</label>
        <input type="checkbox" name="twenty_one" value="true">
    </div>
    <%= f.submit "Create New User", class: "log new" %>
    <br>
<% end%>
    
<%= form_tag app_login_path, method: "GET" do%>
    <%= submit_tag "Back to Login", class: "log new" %>
<% end%>

<% if flash[:create]%>
    <p class="error log"> <%= flash[:create] %></p>
 <% end%>