<h1>New User!</h1>
<%= form_for @user do |f|%>
    <%= f.label :username, value: "Username: " %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password, value: "Password: " %>
    <%= f.text_field :password%>
    <br>
    <%= f.submit "Create New User" %>
    <br>
    <% if flash[:already_exists]%>
       <p> <%= flash[:already_exists] %></p>
    <% end%>
<% end%>