<h1>New User!</h1>
<%= form_for @user do |f|%>
    <%= f.label :username, value: "Username: " %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password, value: "Password: " %>
    <%= f.text_field :password%>
    <br>
    <%= f.submit "Create New User" %>
    <br>
<% end%>

<% if flash[:create]%>
       <p> <%= flash[:create] %></p>
    <% end%>
    
<%= form_tag app_login_path, method: "GET" do%>
    <%= submit_tag "Back to Login" %>
<% end%>