<h1>Add a Bottle to <%= @cellar.name %></h1>
<%= form_for @stash do |f| %>
    <input type="hidden" name="stash[cellar_id]" value=<%= @cellar.id %>>
    <%= f.collection_select :bottle_id, Bottle.all, :id, :bottle_string %> <br>
    <%= f.submit "Add Bottle to Cellar" %> <br>
<% end%>
<br>
<%= link_to "Back to Cellar", @cellar %>