<h1 class="brand">LushLuxé</h1>
<h3 id="main_username"><%= User.find(session[:user_id]).username %></h3>
<%= form_tag search_bottles_path do %>
    <%= text_field_tag :name, nil, class: "searchbar", style: "width:400px;" , placeholder: "Search" %>
    <%= collection_select :bottle, :attribute, Bottle.select_column_names, :itself, :drop_type%>
    <%= submit_tag "Search Bottles" %>
<% end%>
<% if flash[:no_results]%>
    <p class="error"><%= flash[:no_results] %></p>
<% end%>

<article id="home">
    <section class="block" id="suggestion">
        <h3 class="section">Suggested Bottles</h3>
        <p>
            <%= render partial: 'bottles/bottle', collection: Bottle.all.sample(5)%>
        </p>
    </section>
    <section class="block" id="about">
        <h3 class="section head">About Us</h3>
        <p>We are a pair of young wine connoisseurs who decided to put together a web application for searching, storing and collecting a log of wine bottles. We hope you find this application as enjoyable as we do, and we look forward to your participation!</p>
        <h4 class="section head">Griffin Poole</h4>
        <p>A self-identified happy person with as much of a love for deliscious drinks as for people. Always eager to share a chat and and glass, he's looking forward to meeting the userbase of the site.</p>
        <p>Neuro Major and Software Engineering Student at Flatiron University</p>
        <h4>Jakarai Forsythe</h4>
        <p>An emerging master software developer in the making, who leads with heart and soul. A prominent advocate for self expression and creativity for all indivuduals at all times. He has now added wine to that very list. </p> 
        <p> Software Engineering Student at Flatiron University </p>
    </section>
</article>

<br>
<%= link_to "All Bottles", bottles_path %> 
<br>
<%= link_to "Create a Bottle", new_bottle_path %> 
<br>
<%= link_to "My Reviews", reviews_path %>
<br>
<%= link_to "My Cellars", cellars_path %>
<br>
