<h1>Welcome <%= User.find(session[:user]).username %></h1>
<%= form_tag search_bottles_path do %>
    <%= text_field_tag :name %>
    <%= collection_select :bottle, :attribute, Bottle.select_column_names, :itself, :drop_type%>
    <%= submit_tag "Search Bottles" %>
<% end%>
<% if flash[:no_results]%>
    <p class="error"><%= flash[:no_results] %></p>
<% end%>
<br>
<%= link_to "All Bottles", bottles_path %> 
<br>
<%= link_to "Create a Bottle", new_bottle_path %> 
<br>
<%= link_to "My Reviews", reviews_path %>
<br>
<%= link_to "My Cellars", cellars_path %>
<br>
<%= link_to "Logout", app_login_path%>