<div class="title">
    <h1 class="log brand">LushLuxé</h1>
    <%= image_tag "logo.jpg" %>
</div>

<%= form_tag user_login_path do %>
    <%= label_tag "username", "Username: ", class: "log" %>
    <%= text_field_tag "user[username]", nil, class: "log" %>
    <br>
    <%= label_tag "password", "Password: ", class: "log" %>
    <%= password_field_tag "user[password]", nil, class: "log" %>
    <br>
    <%= submit_tag "Login", class: "log" %>
<% end%>
<%= form_tag new_user_path, method: "GET" do %>
    <%= submit_tag "New User", class: "log" %>
<% end%>
<p><%= link_to "Forgot Password", forgot_password_path %></p>
<% if flash[:no_match]%>
    <p class="error log"><%= flash[:no_match] %></p>
<% end%>