<h1><%= link_to @review.bottle.bottle_string, @review.bottle %></h1>

<div class="bottle_images">
<%= image_tag @review.bottle.image %>
</div>

<h3 class="rating"> <%= "Rating: #{@review.rating}" %></h3>
<div class="content">
    <p class="content"><%=  "#{@review.content}" %></p>
</div>

<% if @review.user.id == session[:user_id]%>
    <div class="links">
        <%= link_to "Delete this review", review_path(@review), method: :delete %>
    </div>
<% end%>