<!DOCTYPE html>
<html>
  <head>
    <title>WineCellarWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Main Menu", app_home_path %>
    <%= link_to "Cellars", cellars_path %>
    <%= link_to "Reviews", reviews_path %>
    <%= link_to "Logout", app_login_path%>
    <%= yield %>
  </body>
</html>